
.page {
  position: relative;
  width: 100%;
  //padding-bottom: 72px + 128px;
  height: 100vh;
  //padding: 0 32px;
  display: flex;
  flex-direction: column;


  .header_wrap {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-family: PingFang SC, PingFang SC;
      font-weight: 600;
      font-size: 36px;
      color: #FFFFFF;
      line-height: 40px;
      text-align: center;
      font-style: normal;
      text-transform: none;
    }
  }

  .balance_num {
    font-family: PingFang SC, PingFang SC;
    font-weight: 600;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    font-style: normal;
    text-transform: none;
    margin: 94px 0 80px;
  }


  .coin_pledge_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    .coin_pledge_item {
      width: calc(50% - 5px);
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: linear-gradient( 180deg, rgba(35,208,154,0.09) 0%, rgba(35,208,154,0) 100%);
      border-radius: 24px 24px 24px 24px;
      border: 1px solid rgba(35.00000171363354, 208.0000028014183, 154.00000602006912, 0.5);
      .num_text {
        display: flex;
        align-items: center;
        font-family: PingFang SC, PingFang SC;
        font-weight: 600;
        font-size: 40px;
        color: #E8D259;
        line-height: 56px;
        text-align: center;
        font-style: normal;
        text-transform: none;
      }
      .hint_text {
        margin-top: 10px;
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 28px;
        color: #FFFFFF;
        opacity: .3;
        line-height: 32px;
        text-align: center;
        font-style: normal;
        text-transform: none;
      }
    }
  }

  .date_coin_wrap {
    width: 100%;
    flex: 1;
    background: rgba(0,0,0,0.3);
    border-radius: 40px 40px 0px 0px;
    padding: 30px 30px 0;
    position: relative;
    .date_coin_header {
      font-family: PingFang SC, PingFang SC;
      font-weight: 600;
      font-size: 32px;
      color: #FFFFFF;
      line-height: 40px;
      text-align: left;
      font-style: normal;
      text-transform: none;
    }
    .date_coin_list_wrap {
      position: absolute;
      bottom: 0;
      top: 90px;
      left: 0;
      right: 0;
      padding: 0 30px;
      overflow: hidden auto;
      .date_coin_item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 32px 0 32px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        .coin_icon {
          width: 52px;
          height: 52px;
        }
        .date_coin_info_wrap {
          margin-left: 10px;
          .coin_title {
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            font-size: 28px;
            color: #FFFFFF;
            line-height: 39px;
            text-align: left;
            font-style: normal;
            text-transform: none;
          }
          .coin_date {
            margin-top: 6px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            font-size: 24px;
            color: #999999;
            line-height: 34px;
            text-align: left;
            font-style: normal;
            text-transform: none;
          }
        }
        .coin_action_wrap {
          margin-left: auto;
          .coin_num {
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            font-size: 28px;
            color: #FFFFFF;
            line-height: 39px;
            text-align: right;
            font-style: normal;
            text-transform: none;
          }
          .coin_util {
            margin-top: 7px;
            font-family: PingFang SC, PingFang SC;
            font-weight: 400;
            font-size: 24px;
            color: #999999;
            line-height: 34px;
            text-align: right;
            font-style: normal;
            text-transform: none;
          }
        }
      }
    }
  }

}

.loading_wrapper {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 43px;
  color: #23D09A;
}
