.page {
    width: 100%;
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    background-color: #030B20;
    min-height: 100vh;
}

.usdtBox,
.content {
    width: 100%;
    border-radius: 24px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 32px;
    padding-top: 40px;
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image:
        linear-gradient(rgba(1, 26, 48, 0.8), rgba(1, 26, 48, 0.8)),
        /* 内部背景 */
        linear-gradient(to bottom,
            rgba(10, 194, 215, 0.4),
            rgba(39, 137, 155, 0.4));

    .imgBox {
        position: relative;
        width: 80px;
        height: 80px;

        .usdt_icon {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -40px;
            margin-top: -40px;
            width: 80px;
            height: 80px;

        }

        .bn_icon {
            position: relative;
            margin-left: 54px;
            margin-top: 38px;
            // position: absolute;
            // left: 50%;
            // top: 50%;
            // margin-top: -20px;
            width: 40px;
            height: 40px;
        }
    }

    .usdtName {
        font-size: 28px;
        line-height: 64px;
        text-align: center;
        color: #ffffff;
    }

    .bnbBox {
        opacity: 0.5;
        // background: rgba(10, 197, 222, 0.4);
        background: linear-gradient(to left, #0290B5 100%);
        border-radius: 8px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        padding-left: 7px;
        padding-right: 7px;
        color: #ffffff;
        font-weight: 400;
    }
}

.content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
        margin: 0;
        padding: 0;
    }

    .lin1 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 24px;
        line-height: 24px;
    }

    .lin2 {
        color: #ffffff;
        font-size: 28px;
        line-height: 30px;
        margin-top: 20px;
    }

    .lin3 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 24px;
        line-height: 24px;
        margin-top: 64px;

    }

    .line4 {
        display: flex;
        flex-direction: row;
        width: 100%;

        p {
            color: #ffffff;
            font-size: 28px;
            line-height: 42px;
            margin-top: 20px;
            width: calc(100% - 24px);
            word-break: break-all;
        }

        img {
            margin-left: 10px;
            width: 22px;
            height: 24px;
            min-width: 22px;
            min-height: 24px;
            margin-top: 26px;
            cursor: pointer;
        }

    }
    .line5 {
        color: rgba(255, 255, 255, 0.5);
        font-size: 24px;
        line-height: 24px;
        margin-top: 56px;
    }
}