
.code_input_wrap {
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;

  .input_wrap {
    width: 100%;
    height: 100%;
    border: unset;
    box-shadow: unset;
    background: rgba(255,255,255,0.06);
    border-radius: 30px 30px 30px 30px;
    //border-radius: 0 20px 20px 0;
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 42px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    padding: 0 30px;

    :global {
      .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, ._page_1yen0_30 ._form_wrap_1yen0_56 ._form_item_1yen0_60 .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
        background: rgba(255,255,255,0.06);
      }
    }

  }

  .code_box {
    position: absolute;
    width: 170px;
    height: 60px;
    background-color: #1D1D1D;
    right: 24px;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

}

.page {
  position: relative;
  width: 100%;
  //padding-bottom: 72px + 128px;
  min-height: 100vh;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header_wrap {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-family: PingFang SC, PingFang SC;
      font-weight: 600;
      font-size: 40px;
      color: #FFFFFF;
      line-height: 40px;
      text-align: center;
      font-style: normal;
      text-transform: none;
    }
  }

  .page_hint_text {
    width: 100%;
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 30px;
    color: rgba(255,255,255,0.5);
    line-height: 42px;
    text-align: center;
    font-style: normal;
    text-transform: none;
  }

  .form_wrap {
    width: 100%;
    margin-top: 44px;

    .form_item {
      :global {
        .ant-form-item-label {
          margin-bottom: 20px;
        }
        label {
          font-family: PingFang SC, PingFang SC;
          font-weight: 600;
          font-size: 30px;
          color: #FFFFFF;
          line-height: 42px;
          text-align: left;
          font-style: normal;
          text-transform: none;
        }
        .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
          background-color: rgba(17,17,17,0.3);
        }
        .ant-form-item-explain-error {
          font-family: PingFang SC, PingFang SC;
          font-weight: 600;
          font-size: 20px;
          margin-top: 10px;
          //color: #000000;
          //line-height: 40px;
          //text-align: left;
          font-style: normal;
          text-transform: none;
        }
      }
    }

    .sized_box {
      height: 10px;
    }

    .input_textarea_wrap {
      height: 260px;
      background: rgba(255,255,255,0.06);
      border-radius: 30px 30px 30px 30px;
      padding: 20px;
      font-family: PingFang SC, PingFang SC;
      font-weight: 400;
      font-size: 30px;
      color: #FFFFFF;
      line-height: 42px;
      text-align: left;
      font-style: normal;
      text-transform: none;
      border: unset;
    }

    .update_btn {
      margin-top: 10px;
      width: 100%;
      height: 90px;
      background: #23D09A;
      border-radius: 45px 45px 45px 45px;
      border: unset;
      box-shadow: unset;
      span {
        font-family: PingFang SC, PingFang SC;
        font-weight: 600;
        font-size: 30px;
        color: #000000;
        //line-height: 40px;
        //text-align: left;
        font-style: normal;
        text-transform: none;
      }
    }

  }

  .last_address_wrap {
    margin-top: 80px;
    width: 100%;
    background: rgba(17,17,17,0.3);
    border-radius: 30px 30px 30px 30px;
    padding: 30px;
    .box_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .h_title {
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 30px;
        color: rgba(255,255,255,0.5);
        line-height: 42px;
        text-align: left;
        font-style: normal;
        text-transform: none;
      }
      .hint_text {
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 30px;
        color: rgba(255,255,255,0.5);
        line-height: 42px;
        text-align: right;
        font-style: normal;
        text-transform: none;
      }
    }
    .line_wrap {
      width: 100%;
      height: 1px;
      background: rgba(255,255,255,0.1);
      border-radius: 0px 0px 0px 0px;
      margin: 29px 0 30px;
    }
    .last_address_item_wrap {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      padding: 5px 0;
      &:last-child {
        border-bottom: unset;
      }
      .address_text {
        width: 510px;
        font-family: PingFang SC, PingFang SC;
        font-weight: 400;
        font-size: 30px;
        color: #FFFFFF;
        line-height: 42px;
        text-align: left;
        font-style: normal;
        text-transform: none;
        word-break: break-word;
      }
      .operation_wrap {
        min-width: 123px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .copy_btn {
          flex-shrink: 0;
          //margin-left: 24px;
          min-width: 123px;
          padding: 0 10px;
          height: 56px;
          background: rgba(255,255,255,0.06);
          border-radius: 120px 120px 120px 120px;

          font-family: PingFang SC, PingFang SC;
          font-weight: 400;
          font-size: 28px;
          color: #23D09A;
          line-height: 56px;
          text-align: center;
          font-style: normal;
          text-transform: none;
          white-space: nowrap;
        }
        .delete_btn {
          margin-top: 5px;
          font-family: PingFang SC, PingFang SC;
          font-weight: 400;
          font-size: 28px;
          color: #f32b42;
          line-height: 56px;
          text-align: center;
          font-style: normal;
          text-transform: none;
          text-decoration: underline;
        }
      }

    }
  }

}

.modal_content {
  width: 570px;
  background: #FFFFFF;
  border-radius: 30px 30px 30px 30px;
  padding: 40px 25px 50px;

  .title_wrap {
    width: 100%;
    text-align: center;
    font-family: PingFang SC, PingFang SC;
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    line-height: 48px;
    font-style: normal;
    text-transform: none;
  }

  .content_text {
    margin-top: 40px;
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 28px;
    color: #171E26;
    line-height: 40px;
    text-align: left;
    font-style: normal;
    text-transform: none;
  }

  .modal_btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .cancel_btn {
      margin-top: 20px;
      min-width: 462px;
      height: 80px;
      padding: 0 10px;
      background: #c6c7c7;
      border-radius: 40px;

      font-family: PingFang SC, PingFang SC;
      font-weight: 400;
      font-size: 28px;
      color: #000000;
      line-height: 80px;
      text-align: center;
      font-style: normal;
      text-transform: none;
    }

    .delete_btn {
      margin-top: 40px;
      min-width: 462px;
      height: 80px;
      padding: 0 10px;
      background: #23D09A;
      border-radius: 40px;

      font-family: PingFang SC, PingFang SC;
      font-weight: 400;
      font-size: 28px;
      color: #000000;
      line-height: 80px;
      text-align: center;
      font-style: normal;
      text-transform: none;
    }
  }


}

.loading_wrapper {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 43px;
  color: #23D09A;
}
