
.popup_sty {
  :global {
    .adm-popup-body {
      //padding-top: 65px;
      box-sizing: border-box;
      background-color: unset;
      height: 680px;
    }
  }

  .popup_content {
    width: 100%;
    height:100%;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    border-radius: 38px 38px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .popup_title {
      position: absolute;
      top: 0;
      width: 100%;
      height: 90px;
      font-size: 32px;
      font-weight: 700;
      background-color: #ffffff;
      border-radius: 40px 40px 0 0;
      font-family: "Nunito", sans-serif;
      text-align: center;
      line-height: 90px;
      z-index: 2;
    }

    .language_list {
      width: 100%;
      height: 100%;
      padding: 110px 30px 0;
      box-sizing: border-box;
      overflow: hidden;
      overflow-y: auto;
      position: relative;

      .language_item {
        margin-bottom: 25px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 3px solid #a7d2f599;
        padding: 15px 30px;
        border-radius: 15px;
        transition: .3s all;
        &:active {
          transform: scale(1.03);
        }
        .left_wrap {
          transition: .3s all;
          opacity: .7;
          display: flex;
          align-items: center;
          .icon {
            font-size: 48px;
            font-family: "Nunito", sans-serif;
          }
          .name {
            margin-left: 20px;
            font-size: 38px;
            font-weight: 700;
            font-family: "Nunito", sans-serif;
          }
        }
        .right_wrap {
          font-size: 30px;
          font-weight: 700;
          color: #026d96;
        }
      }
      .language_item_active {
        border: 3px solid #0068d3;
        background-color: #0e83e344;
        .left_wrap {
          opacity: 1;
        }
      }
    }
  }
}

.language_wrap {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .country_icon {
    font-size: 32px;
    font-family: "Nunito", sans-serif;
  }
  .country_name {
    margin-left: 4px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-family: "Nunito", sans-serif;
  }
}
